force-app/main/default/flows/Set_Recipients_on_Opportunity_for_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_picklist_selected_values_to_text_collection</name>
        <label>Convert picklist selected values to text collection</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>MultiSelectPicklistToCollectionConverter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_already_created_records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>$Record.Regional_Manager_s__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectPicklistToCollectionConverter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SelectedRegionalManagers</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_recipient_to_list_of_recipients_with_contact</name>
        <label>Add recipient to list of recipients with contact</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>SelectedRegionalManagersWithContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_check_if_recipient_is_created_already.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_check_if_recipient_is_created_already</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_recipient_to_the_list_for_creation</name>
        <label>Add recipient to the list for creation</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>SelectedRegionalManagersWithNoContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Selected_Managers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Managers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_values</name>
        <label>Assign Recipient values</label>
        <locationX>138</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>Recipient.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecipientFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipient.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Regional_Managers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipient.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipient.Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Regional_Managers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_recipient_already_has_contact</name>
        <label>Check if recipient already has contact</label>
        <locationX>226</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Add_recipient_to_the_list_for_creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recipient without contact</defaultConnectorLabel>
        <rules>
            <name>Recipient_with_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRegionalManagersWithContact</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Selected_Managers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Selected_Managers</targetReference>
            </connector>
            <label>Recipient with contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Regional_Manager_is_null</name>
        <label>Check if Regional Manager is null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Recipients_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Manager_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_picklist_selected_values_to_text_collection</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Regional_Managers_to_delete_is_not_empty</name>
        <label>Check if Regional Managers to delete is not empty</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Regional_Managers_are_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recipients_to_Delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_unselected_Recipients</targetReference>
            </connector>
            <label>Regional Managers are not empty</label>
        </rules>
    </decisions>
    <description>Flows to dynamically generate recipients for work order envelope template</description>
    <environments>Default</environments>
    <formulas>
        <name>RecipientFirstName</name>
        <dataType>String</dataType>
        <expression>&apos;Recipient &apos; &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Set Recipients on Opportunity for Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Recipients on Opportunity for Work Order</label>
    <loops>
        <name>Loop_through_Regional_Managers</name>
        <label>Loop through Regional Managers</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <collectionReference>SelectedRegionalManagersWithNoContact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Recipient_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Recipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Selected_Managers</name>
        <label>Loop through Selected Managers</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <collectionReference>SelectedRegionalManagers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_recipient_already_has_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Regional_Managers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_check_if_recipient_is_created_already</name>
        <label>Loop to check if recipient is created already</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_already_created_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_recipient_to_list_of_recipients_with_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Selected_Managers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recipients</name>
        <label>Create Recipients</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Get_Recipients_to_Delete</targetReference>
        </connector>
        <inputReference>Recipients</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_unselected_Recipients</name>
        <label>Delete unselected Recipients</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <inputReference>Get_Recipients_to_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_already_created_records</name>
        <label>Get already created records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_check_if_recipient_is_created_already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectedRegionalManagers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recipients_to_Delete</name>
        <label>Get Recipients to Delete</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Regional_Managers_to_delete_is_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>SelectedRegionalManagers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Regional_Manager_is_null</targetReference>
        </connector>
        <filterFormula>OR( 
AND(ISNEW(), !ISBLANK({!$Record.Regional_Manager_s__c})),
ISCHANGED({!$Record.Regional_Manager_s__c})
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Recipient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Recipients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedRegionalManagers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedRegionalManagersWithContact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRegionalManagersWithNoContact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
