force-app/main/default/flows/Update_Status_on_Envelope_for_Reports.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_or_Delivered</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dfsle__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Sent_on_Docusign_Envelope</targetReference>
            </connector>
            <label>Sent or Delivered</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Signed_on_Docusign_Envelope</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Declined_on_Docusign_Envelope</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
        <rules>
            <name>Voided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voided</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Voided_on_Docusign_Envelope</targetReference>
            </connector>
            <label>Voided</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Expired_on_Docusign_Envelope</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
    </decisions>
    <description>Updating status for related DocuSign Envelope to track DocuSign Usage in reports.</description>
    <environments>Default</environments>
    <interviewLabel>Update Status on Envelope for Reports {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Status on Envelope for Reports</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status_to_Declined_on_Docusign_Envelope</name>
        <label>Update Status to Declined on Docusign Envelope</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__DocuSignId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__DocuSignId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Declined_or_Void_Reason__c</field>
            <value>
                <elementReference>$Record.dfsle__Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>dfsle__Envelope__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Expired_on_Docusign_Envelope</name>
        <label>Update Status to Expired on Docusign Envelope</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__DocuSignId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__DocuSignId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <object>dfsle__Envelope__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Sent_on_Docusign_Envelope</name>
        <label>Update Status to Sent on Docusign Envelope</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__DocuSignId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__DocuSignId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>dfsle__Envelope__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Signed_on_Docusign_Envelope</name>
        <label>Update Status to Signed on Docusign Envelope</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__DocuSignId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__DocuSignId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </inputAssignments>
        <object>dfsle__Envelope__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Voided_on_Docusign_Envelope</name>
        <label>Update Status to Voided on Docusign Envelope</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__DocuSignId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__DocuSignId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Declined_or_Void_Reason__c</field>
            <value>
                <elementReference>$Record.dfsle__Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </inputAssignments>
        <object>dfsle__Envelope__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <object>dfsle__EnvelopeStatus__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
